body {
  margin: auto;
}
.header {
  width:'100%'; 
  padding-top: 32px;
  background-image: url(https://res.cloudinary.com/dheyjds01/image/upload/v1666885950/atoms/header_bg_qc1kcj.svg);
  background-repeat: no-repeat;
  background-position: top right;
  //background-size: cover;
}

.header-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 128px;
  margin-right: 128px;

  img {
    width: 200px;
  }

  .header-nav__menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;

    ul{
      display: flex;
      list-style: none;

      li {
        margin-right: 32px;
      }
    }

    a {
      text-decoration: none;
      font-weight: 700;
      font-size: 14px;
      color: black
    }

    a:hover{
      color:rgb(46, 207, 207)
    }

    .btn {
      background-color: transparent;
      border-radius: 25px;
      width: 160px;
      font-size: 16px;
      color: white;
      border: 1px solid white;
      margin: 0 12px;
    }

    .login {
      border: 1px solid rgb(46, 207, 207);
      color: rgb(46, 207, 207)
    }
  }
}

.header-content {
  margin-top: 96px;
  display: flex;
  margin-left: 128px;

  .header-info {
    margin-right: 32px;

    p {
      color: rgb(138, 136, 136);
      font-size: 24px;
      line-height: 32px;
    }

    p:nth-child(3) {
      color: rgb(46, 207, 207);
      font-size: 20px;
    }

    span{
      color:rgb(182,125,201);
    }

    span:nth-child(1) {
      font-weight: bold;
    }

    .header-btn-info {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 32px;
    }

    .btn-info {
      background-color: transparent;
      border-radius: 25px;
      width: 220px;
      font-size: 16px;
      color: black;
      font-weight: 700;
      font-size: 18px;
      height: 50px;
    }

    .demo{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      background-color: rgb(46, 207, 207);
      
      span {
        color:white;
      }
    }

    .start {
      color:white;
      background-color: rgb(182,125,201);
    }
  }
}

//Credit Simulator
.credit {
  width: 420px;
  height: 720px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
  h2{
    font-weight: bold;
    text-align: center;
  }

  .credit-cash {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 32px;

    span {
      text-align: center;
      border-radius: 25px;
      width: 80px;
      color: white;
      background-color: rgb(182,125,201);
    }

  }

  .input-range{
    background: rgb(182,125,201);
    width: 90%;
    margin: 0 5%;
    -webkit-appearance: none;
    height: 8px;
    border-radius: 5px;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }

  .input-range:hover {
    opacity: 1;
  }

  .input-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: rgb(182,125,201);
    cursor: pointer;
    box-shadow:0px 0px 11px 8px rgba(0,0,0,0.26);
    background: url(https://www.flaticon.com/svg/vstatic/svg/59/59089.svg?token=exp=1614064733~hmac=a6f0cce2214fdb52e7df9eec24006427) rgb(182,125,201);
    background-size: 45%;
    background-position: center;
    background-repeat: no-repeat;
  }

  .input-range::-moz-range-thumb {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: rgb(182,125,201);
    cursor: pointer;
    box-shadow:0px 0px 11px 8px rgba(0,0,0,0.26);
    background: url(https://www.flaticon.com/svg/vstatic/svg/59/59089.svg?token=exp=1614064733~hmac=a6f0cce2214fdb52e7df9eec24006427) rgb(182,125,201);
    background-size: 45%;
    background-position: center;
    background-repeat: no-repeat;
  }

  h3 {
    text-align: center;
  }

  .credit-months {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto
  }

  .credit-months-btn {
    background-color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid rgb(182,125,201);
  }

  .credit-months-btn:hover {
    background-color: rgb(182,125,201);
    color: white;
  }

  .credit-simulator {
    display: flex;

    .credit-concepts {
      display: flex;
      flex-direction: column;
      width: 50%;
      text-align: right;

      p {
        margin-right: 4px;
        line-height: 8px;
        margin-top: 16px;
        margin-bottom: 15px;
      }
    }

    .credit-data {
      display: flex;
      flex-direction: column;
      width: 50%;
      text-align: left;
      margin-left: 32px;

      span {
        margin-top: 11px;
        text-align: center;
        border: 1px solid grey;
        width: 120px;
        height: 24px;
        border-radius: 15px;
      }
    }
    
  }
  .credit-req-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;

    button {
      border-radius: 25px;
      width: 220px;
      font-size: 16px;
      height: 50px;
      color:white;
      background-color: rgb(182,125,201);
    }
  }

}


//Features
.features {
  h1 {
    text-align: center;
  }

  hr{
    width: 64px;
  }

  p{
    text-align: center;
  }

  .features-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    div{
      width: 350px;
      margin-top: 16px;
      padding: 0px;

      span {
        color: rgb(138, 136, 136);
      }
      
      p {
        text-align: left;
      }
    }
  }
}

//CodeAPI
.code-api {
  background-color: rgb(224, 222, 222);
  height: 720px;
  h1 {
    text-align: center;
    padding-top: 56px;
  }

  hr{
    width: 64px;
  }

  p{
    width: 60%;
    text-align: center;
    margin: 0 auto;
  }

  code {
    color: blue;

    span {
      color: rgb(182,125,201);
    }
  }

  .code-api-nav{
    display: flex;
    justify-content: flex-start;
    width: 50%;
    margin: 56px 0 -8px 50%;
    gap: 48px;

    button {
      background-color: transparent;
      color: grey;
      outline: none;
      text-decoration: none;
    }

    button:hover{
      color: black;
      border-radius: 0px;
      border-bottom:3px solid rgb(163, 96, 185);
      border-top: 1px solid rgb(224, 222, 222);
      border-left: 1px solid rgb(224, 222, 222);
      border-right: 1px solid rgb(224, 222, 222);
    }

  }

  .code-api-container{
    width: 90%;
    margin: 0 auto;
    background-color: white;

    pre {
      margin: 0 auto;
    }
  }

  .code-api-btn-container {
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: lightgrey;
    width: 90%;
    height: 90px;
    margin: 0 auto;
  }

  .code-api-btn{
    background-color: rgb(46, 207, 207);
    border-radius: 25px;
    width: 220px;
    color: white;
    font-size: 18px;
    height: 50px;
    margin-right: 16px;
  }
  .example-btn {
    background-color: rgb(182,125,201);
  }
}

//Princing
.pricing{

  h1 {
    text-align: center;
    padding-top: 56px;
  }

  hr{
    width: 64px;
  }

  p{
    width: 60%;
    text-align: center;
    margin: 0 auto;
  }

  .pricing-nav {
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      background-color: transparent;
      color: grey;
      outline: none;
      text-decoration: none;
    }

    button:hover{
      color: black;
      border-radius: 0px;
      border-bottom:3px solid rgb(163, 96, 185);
      border-top: 1px solid white;
      border-left: 1px solid white;
      border-right: 1px solid white;
    }
  }

  .pricing-list-cards {
    display: flex;
    justify-content: space-evenly;
    margin-top: 64px;
  }

}

.pricing-item {
  border: 1px solid whitesmoke;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
  width: 20%;

  h3 {
    text-align: center;
    margin-top: 16px;
    padding-top: 16px;

    span{
      font-size: 54px;
    }
  }
  
  h2 {
    text-align: center;
  }

  p { 
    width: 100%;
    margin-left: 20px;
    text-align: left;
  }

  .line-through {
    text-decoration: line-through;
    color:rgb(138, 136, 136);
  }

  .pricing-list{
    margin-left: 32px;
  }

  .pricing-item-li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  span{
    font-weight: bold;
  }

  .pricing-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 32px 0;
  }

  button {
    background-color: transparent;
    border-radius: 25px;
    width: 60%;
    font-size: 16px;
    color: rgb(46, 207, 207);
    border: 1px solid rgb(46, 207, 207);
    margin: 0 12px;
  }

}

.pricing-item-pro{
  border-radius: 5px;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
  width: 20%;
  background-color: rgb(163, 96, 185);
  transform: scale(1.1);
  color: white;

  h3 {
    text-align: center;
    margin-top: 16px;
    padding-top: 16px;

    span{
      font-size: 54px;
    }
  }
  
  h2 {
    text-align: center;
  }

  p { 
    width: 100%;
    margin-left: 20px;
    text-align: left;
  }

  .line-through {
    text-decoration: line-through;
    color:black;
  }

  .pricing-list{
    margin-left: 32px;
  }

  .pricing-item-li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  span{
    font-weight: bold;
  }

  .pricing-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 32px 0;
  }

  button {
    background-color: rgb(46, 207, 207);
    border-radius: 25px;
    width: 60%;
    font-size: 16px;
    color: white;
    border: 1px solid rgb(46, 207, 207);
    margin: 0 12px;
  }

}

//Questions
.questions {
  display: flex;
  margin-top: 128px;

  .questions-container{
    width: 40%;
    padding-right: 72px;
    padding-left: 72px;

    h2{
      font-weight: bold;
    }
    p {
      color: rgb(138, 136, 136)
    }
  }

  .questions-list {
    display: flex;
    flex-direction: column;
  }

  .questions-list-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    
    p {
      color: black;
    }
  }

  .questions-accordion{
    width: 40%;
  }
}


//Services
.services {
  display: flex;
  flex-direction: column;
  margin-top: 64px;
  width: 100%;
  
  .services-card-container {
    display: flex;
    justify-content: center;
    width: 100%;

  }
}

.services-card {
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: rgb(244,244,244);
  margin: 0 72px;
  height: 28  0px;
  border-radius: 5px;
  padding: 32px;

  hr {
    width: 64px;
    margin: 0;
  }

  button {
    border-radius: 25px;
    background-color: rgb(163, 96, 185);
    width: 220px;
    color: white;
    font-size: 18px;
    height: 32px;
    margin-right: 16px;
    text-align: center;
    font-size: 14px;
  }
}

.services-card-sales{
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: rgb(46, 207, 207);
  margin: 0 72px;
  height: 280px;
  border-radius: 5px;
  padding: 32px;
  color: white;


  hr {
    width: 120px;
    margin: 0;
    background-color: lightgray;
  }

  button {
    border-radius: 25px;
    background-color: transparent;
    border: 1px solid white;
    width: 220px;
    color: white;
    font-size: 18px;
    height: 32px;
    margin-right: 16px;
    text-align: center;
    font-size: 14px;
  }
}

.services-sponsors {
  display: flex;
  justify-content: space-evenly;
  margin-top: 64px;
}

//Getstarted 
.started {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 64px;
  background-color: rgb(224, 222, 222);
  background-image: url('https://res.cloudinary.com/dheyjds01/image/upload/v1666961749/atoms/wave_3_l0ip08.svg');
  background-size: 90rem;
  background-repeat: no-repeat;

  .started-info {
    width: 40%;
    margin-top: 64px;
    padding-right: 32px;

    h1 {
      font-size: 32px;
    }
    span {
      color:rgb(163, 96, 185);
    }

    p {
      color: rgb(138, 136, 136);
    }
  }

  .started-btn {
    width: 40%;
    margin-top: 64px;
    padding-left: 92px;
  }

  button{
    background-color: rgb(46, 207, 207);
    border-radius: 25px;
    width: 260px;
    color: white;
    font-size: 16px;
    height: 50px;
    margin-right: 16px;
  }
}

//footer 
.footer {
  background-image: url('https://res.cloudinary.com/dheyjds01/image/upload/v1666959783/atoms/footer-bg_mdzrjr.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 64px;
  text-align: left;

  .footer-lateral {
    margin-top: 0px;

    .footer-lateral-title {
      text-align: left;
      padding-left: 0%;
    }
  }

  .footer-icons{
    display: flex;
    justify-content: space-evenly;

    img{
      width: 24px;
    }
  }

  h3{
    padding-left: 60px;
  }

  ul{
    list-style: none;
    margin: 0;
  }
  li {
    margin: 20px;
  }

  .hidden {
    visibility: hidden;
  }
}
